[submodule "python/deps/pybind11"]
	path = python/deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "python/deps/hana"]
	path = python/deps/hana
	url = https://github.com/boostorg/hana